## RStudio files
.Rproj.user

## History
.Rhistory


Data
Output

Output/*RDA
Output/*Rdata


analysis/*_cache/
drafts/*_cache/
.Ruserdata

*DS_Store
*err
*out

*talk_figures*
*html
*png
*pptx

sandbox/
